.inputView {
    padding: 20px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #4a788f;
    color: #f2f8fb;
    width: 25vw;
}

.formFields {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 10px 0;
}

.label {
    width: 150px;
    margin-right: 10px;
}

.text-input {
    max-width: 210px;
    min-width: 210px;
}

.field {
    max-width: 210px;
    min-width: 210px;
}

.routeButton {
    width: 150px;
    margin: 20px 0 0 0;
    height: 30px;
    background-color: rgba(35, 55, 75, 0.9);
    border: none;
    color: #f2f8fb;
}