.main {
    display: flex;
    flex-direction: row-reverse;
  }

.sideView {
  background-color: #436f85;
  width: 25vw;
  min-width: 255px;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  /* width: 50%; */
  /* margin-top: 20px;
  margin-left: 20px; */
}